<h3>{{drank.name}}</h3>
<ul>
  <li class="drink-recipe">{{drank.alcohol}}</li>
  <li class="drink-recipe">{{drank.mixers}}</li>
  <li class="drink-recipe">{{drank.directions}}</li>
</ul>
<button class="edit-drink drink-btn" data-id="{{drank.id}}">Edit drink</button>
<button class="delete-drink drink-btn" data-id="{{drank.id}}">Delete drink</button>
